/* Footer */
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: auto;
    line-height: 60px;
    background-color: #A4A69F;
}

.logo-container {
    margin: auto;
    max-width: 240px;
}

.logo-container img {
    bottom: 0;
}

.footer-link {
    display: block;
    text-align: center;
}

a.footer-link-title {
    display: block;
    text-align: center;
    text-decoration-line: none;
    color: #f2f2f4;
}

a:hover.footer-link-title {
    color: #F2F2F2;
}

a.footer-link {
    height: 40px;
    text-decoration-line: none;
    color: #585954;

}

a:hover.footer-link {
    color: #F2F2F2;
}


/*Text*/
/* Text */

h3 {
    color: #0D0D0D;
    text-decoration-line: underline;
    text-decoration-color: #0D0D0D;
    font-weight: 400;
    font-family: Roboto, Rockwell, 'Arial Black', sans-serif;
}

.section {
    margin-top: 1rem;
    margin-bottom: 9rem;
}

.paragraph {

    color: #585954;

    margin-top: 1rem;

    font-family: Rockwell, Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    line-height: 26pt;

}

.main-context {
    margin-top: 8rem;
    margin-bottom: 7rem;
}

.invisible-container {
    height: 14rem;
}

/*Button*/
.button {
    display: inline-block;
    padding: 0.5em 3em;
    border: 0.16em solid #A4A69F;
    margin: 0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #A4A69F;
    text-align: center;
    transition: all 0.15s;
    align-content: center;
}

.button:hover {
     color: #585954;
    border-color: #585954;
}

.button:active {
    color: #F2F2F2;
    border-color: #F2F2F2;

}

@media all and (max-width: 30em) {
     a.button {
        display: block;
        margin: 0.4em auto;
    }
}

/*form-container*/
.form-container {
    min-height: 5rem;
    align-items: center;
    justify-content: center;
    margin: 5rem 0 5rem 0;
    padding: 5rem 0 5rem 0;

    background: #585954;
    box-shadow: 60px -16px #0D0D0D;
}

div.input-holder {
    align-items: center;
    justify-content: center;
    margin: 0 0.3em 0.3em 0;
    padding-top: 2rem;
    padding-bottom: 4rem;
}

div.input-holder input {
    padding: 0.5em 3em;
    border: 0.16em solid #A4A69F;
    box-sizing: border-box;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    color: #585954;
    background-color: #A4A69F;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;

}

div.input-holder input:hover {
    border: 0.16em solid #585954;

}

div.input-holder input:focus {
    border: 0.16em solid #F2F2F2;

}


div.input-holder p {
    margin: auto;
    text-align: center;
    color: #F2F2F2;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.form-title {
    margin: auto;
    text-align: center;
    color: #F2F2F2;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

::-moz-selection { /* Code for Firefox */
    color: #585954;
    background: #F2F2F2;
}

::selection {
    color: #585954;
    background: #F2F2F2;
}

.error-msg {
    text-align: center;
    color: #585954;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    margin: auto auto 4rem;
}


div.input-holder input[type=radio] {
    padding: 0.5em 3em;
    border: 0.16em solid #A4A69F;
    box-sizing: border-box;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    color: #585954;
    background-color: #A4A69F;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    cursor: pointer;
    height: 2rem;
    width: 2rem;

}


.table-container {
    margin: 2rem 4rem 5rem 4rem;
}


.table-container table {
    color: #0D0D0D;
    border-collapse: collapse;
    border: 1px solid #585954;
    background-color: #A4A69F;
    width: 100%;
}

.table-container tr, th {
    padding: 1rem 2rem 1rem 2rem;
    border-width: 3px;
    text-align: center;
    font-family: Rockwell, Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    font-size: 18px;

}